# environment
.direnv

# editor
.vscode

# nix
result
result-*

# haskell and cabal
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# hakyll
_site/
_cache/

# sass
.sass-cache

# editors
.vimrc
.nvimrc
.vim/
.obsidian/
