---
import BaseHead from "../../components/BaseHead.astro";
import Nav from "../../components/Nav.astro";

import "../../styles/global.scss";
import "../../styles/typography.scss";

const posts = await Astro.fetchContent("./**/*.md");
posts.sort((a, b) => new Date(b.published).valueOf() - new Date(a.published).valueOf());
---

<html>
    <head>
        <BaseHead title="Max Niederman's Blog" description="Index of Max Niederman's blog posts." />
    </head>
    
    <body>
        <div class="nav-container"><Nav /></div>

        <main class="typography-full">
            <h1>Posts</h1>

                {posts.map(post => (
                    <a href={post.url} class="post">
                            <h2>{post.title}</h2>
                            <p>{post.description}</p>
                            <p>published: {post.published}</p>
                    </a>
                ))}
        </main>
    </body>
</html>

<style lang="scss">
    @use "../../styles/theme";

    main {
        max-width: 75ch;
        margin: auto;
        padding: 0 32px;

        h1 {
            font-size: 4em;
            padding: 0 16px;
        }

        .post {
            text-decoration: none;

            h2 {
                text-align: left;
                color: inherit;
                border: none;
                margin-bottom: 0.25em;
            }
            
            p {
                margin: 0.25em 0;
                font-size: 0.85em;
                font-style: italic;
            }
            
            * {
                color: theme.$color-fg;
            }
        }
    }
</style>