// fontfaces
$font-sans: "Inter", ui-sans-serif, sans-serif;
$font-mono: "Fira Code", ui-monospace, serif;

// colors
$color-fg: hsl(65, 43%, 95%);
$color-bg: hsl(0, 0%, 4%);
$color-accent: hsl(257, 62%, 71%);