@use "sass:color";

@mixin theme(
  $bg,
  $fg,
  $border: $fg,
  $border-secondary: color.mix($fg, $bg, 50%),
  $meta: color.mix($fg, $bg, 60%),
  $link: $fg,
  $link-hover: color.mix($fg, $bg, 70%),
) {
  --color-fg: #{$fg};
  --color-bg: #{$bg};
  --color-border: #{$border};
  --color-border-secondary: #{$border-secondary};
  --color-meta: #{$meta};
  --color-link: #{$link};
  --color-link-hover: #{$link-hover};
}

@mixin light {
  @include theme(color.adjust(white, $lightness: -10%), black);
}

@mixin dark {
  @include theme(color.adjust(black, $lightness: 5%), white);
}
