@use "sass:color";

@mixin theme(
  $bg,
  $fg,
  $border: $fg,
  $border-secondary: color.mix($fg, $bg, 50%)
) {
  --color-fg: #{$fg};
  --color-bg: #{$bg};
  --color-border: #{$border};
  --color-border-secondary: #{$border-secondary};
}

@mixin light {
  @include theme(color.adjust(white, $lightness: -10%), black);
}

@mixin dark {
  @include theme(color.adjust(black, $lightness: 5%), white);
}
