@use "normalize.css";
@use "@fontsource/ibm-plex-sans/latin.css";

:root {
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "IBM Plex Sans", sans-serif;

	color: var(--fg);
	background-color: var(--bg);
}
