@use "sass:color";
@use "sass:string";

@use "normalize.css";

@function srgbify($color) {
	@return "#" + string.slice(color.ie-hex-str($color), 4);
}

:root {
	font-size: 22px;

	--col-bg0: #{srgbify(oklch(1 0.01 80))};
	--col-bg1: #{srgbify(oklch(0.97 0.01 80))};
	--col-bg2: #{srgbify(oklch(0.9 0.01 80))};
	--col-bg3: #{srgbify(oklch(0.8 0.01 80))};

	--col-fg0: #{srgbify(oklch(0 0 0))};
	--col-fg1: #{srgbify(oklch(0.1 0 0))};
	--col-fg2: #{srgbify(oklch(0.2 0 0))};
	--col-fg3: #{srgbify(oklch(0.4 0 0))};

	--col-accent: #{srgbify(oklch(0.5 0.3 0deg))};
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Garamond Premier Pro", sans-serif;
	text-rendering: optimizeLegibility;

	color: var(--col-fg0);
	background-color: var(--col-bg1);
}

@font-face {
	font-family: "Garamond Premier Pro";
	src:
		url("/fonts/garamond_premier_pro_regular.woff2") format("woff2"),
		url("/fonts/garamond_premier_pro_regular.woff") format("woff");
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: "Garamond Premier Pro";
	src:
		url("/fonts/garamond_premier_pro_italic.woff2") format("woff2"),
		url("/fonts/garamond_premier_pro_italic.woff") format("woff");
	font-weight: regular;
	font-style: italic;
}

@font-face {
	font-family: "Garamond Premier Pro";
	src:
		url("/fonts/garamond_premier_pro_bold.woff2") format("woff2"),
		url("/fonts/garamond_premier_pro_bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
