@use "normalize.css";
@use "@fontsource/source-serif-4";

:root {
    --bg: #f0f0f0;
    --fg: #000000;
    --accent: #443d96;

    font-size: 18px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Serif 4", serif;

    color: var(--fg);
    background-color: var(--bg);
}
