a {
	color: inherit;
	text-decoration: 1px dotted underline;

	border-radius: 0.25em;

	&::after {
		content: "°";
		color: var(--col-accent);
		text-decoration: var(--col-bg1) underline; // hack to hide the underline
	}

	&:hover {
		background-color: var(--col-bg2);

		&::after {
			text-decoration: var(--col-bg2) underline;
		}
	}

	&:visited {
		color: inherit;
	}
}

a.basic-link {
	text-decoration: none;

	&::after {
		content: none;
	}
}

sup a {
	font-variant-numeric: normal;

	text-decoration: none;

	&::after {
		content: none;
	}
}
