/* Basics and inline elements */
.type {
	font-family: "Garamond Premier Pro", serif;
	font-feature-settings: "calt";
	font-variant-numeric: oldstyle-nums;
	font-size: 1rem;

	line-height: 1.3;

	text-align: justify;
	text-wrap: pretty;

	em {
		font-style: italic;
	}

	strong {
		font-weight: 800;
	}

	strong em,
	em strong {
		font-style: normal;
		font-variant: small-caps;
		letter-spacing: 0.1em;
	}

	i {
		font-style: italic;
	}

	/* Most link styling is in links.scss */
	a {
		color: inherit;
	}

	code {
		border-radius: 0.25em;

		font-family: "Fira Code Variable", monospace;
		font-size: 0.8em;

		background-color: #24273a;
		color: #cad3f5;
	}
}

/* Structural elements */
.type {
	blockquote {
		font-style: italic;

		cite,
		figcaption {
			display: block;
			margin-top: 0.5em;

			text-align: right;

			&::before {
				content: "— ";
			}
		}
	}

	hr {
		margin: 1.5em 0;

		border: none;
		border-top: 0.5px solid var(--col-fg3);
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: left;
		font-weight: 400;
		font-style: italic;
	}

	h1 {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	h2 {
		margin-top: 3rem;
		margin-bottom: 1rem;
	}

	h3 {
		margin-top: 2rem;
		margin-bottom: 0.75rem;
	}
}

/* Figures */
.type {
	.mathematica, .astro-code {
		width: 100%;
		border-radius: 0.5rem;
	}

	.astro-code {
		padding: 1rem;

		position: relative;

		code {
			font-size: 0.8rem;
			background: none;
		}

		&::after {
			position: absolute;
			top: 0;
			right: 0;

			padding: 0.20rem 0.5rem;
			border-radius: 0 0 0 0.5rem;

			content: attr(data-language);

			color: #24273a;
			background-color: #c6a0f6;

			font-family: "Fira Code Variable", monospace;
			font-size: 0.8rem;
			text-transform: uppercase;
		}
	}
}
