@use "theme";
@use "sass:color";

@mixin typography {
  font-family: theme.$font-sans;

  a,
  a:visited {
    color: color.scale(theme.$color-accent, $lightness: 25%);
    text-decoration-style: dashed;

    &:hover {
      color: theme.$color-accent;
    }
  }

  strong {
    color: theme.$color-accent;
  }

  code {
    font-family: theme.$font-mono;
  }

  img {
    width: 100%;
    margin: 1em 0;
    border-radius: theme.$roundness;
  }
}

.typography {
  @include typography;
}
