@use "theme";
@use "sass:color";

$gutter: 0.25em;
$breakpoint-tablet: 768px;

@mixin typography {
  font-size: 1.25rem;
  font-family: theme.$font-sans;

  a,
  a:visited {
    color: color.scale(theme.$color-accent, $lightness: 25%);
    text-decoration-style: dashed;

    &:hover {
      color: theme.$color-accent;
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
    }
  }

  // Blockquote and epigraph styles (adapted from tufte-css)
  blockquote {
    border-left: 1px solid theme.$color-fg;
    margin: 1em 0;
    padding: 0 1em;
  }

  strong {
    color: theme.$color-accent;
  }

  .math-display {
    text-align: center;

    @media screen and (max-width: $breakpoint-tablet) {
      overflow-x: scroll;
      mask-image: linear-gradient(
        to right,
        white 90%,
        transparent 100%,
      );
    }
  }

  pre.astro-code {
    padding: 0.75em;
    border-radius: 0.25em;
  }

  code {
    font-family: theme.$font-mono;
    font-size: 0.75em;
  }

  img {
    width: 100%;
    margin: 1em 0;
    border-radius: theme.$roundness;
  }

  .footnotes {
    margin: 2em 0;
  }
}

@mixin typography-headers {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme.$font-serif;
    font-variant: small-caps;
    margin-left: -$gutter;
    margin-right: -$gutter;
  }

  h2 {
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid theme.$color-accent;
  }

  h3 {
    font-size: 1.5em;
    border-bottom: 1px dotted theme.$color-fg;
  }
}

.typography {
  @include typography;
}

.typography-full {
  @include typography;
  @include typography-headers;
}
