---
import Layout from "$/layouts/Default.astro";

const { pages } = Astro.props;

const tags = [...new Set(pages.flatMap(({ tags }) => tags))];
---

<Layout content={{
  title: "Tags",
  tags: ["meta"],
  published: "2021-08-02",
  updated: new Date(),
  status: "updated",
}}>
  <ul>
    {tags.map((tag) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
  </ul>
</Layout>
