---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/PostHeader.astro";

import "../styles/global.scss";
import "../styles/typography.scss";
import "../styles/code.scss";

let { header = true, content } = Astro.props;

if (typeof content.published === "string") {
  content.published = new Date(content.published);
}
if (typeof content.updated === "string") {
  content.updated = new Date(content.updated);
}

const { language = "en", title, description } = content;
---

<html lang={language}>
  <head>
    <BaseHead title={title} description={description} />

    <slot name="head" />
  </head>
  <body>
    <Nav />

    <main>
      {header &&
        <header>
          <Header content={content} />
        </header>
      }

      <article class="typography">
        <slot />
      </article>
    </main>
  </body>
</html>

<style lang="scss">
  body {
    overflow-x: hidden;
  }

  main {
    margin: auto;
    padding: 0 24px;

    font-size: 1.35rem;
    max-width: 70ch;

    header {
      border-bottom: none;
    }

    article {
      margin: 2em 0;
    }
  }
</style>
