@use "theme";

// Constants
$gutter: 0.25em;

.typography {
  font-size: 1.35rem;
  font-family: theme.$font-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant: small-caps;
    margin-left: -$gutter;
    margin-right: -$gutter;
  }

  h1 {
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid var(--fg);
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px dotted var(--fg);
  }

  a {
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover {
      opacity: 80%;
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
    }
  }

  blockquote {
    border-left: 1px solid var(--fg);
    margin: 1em 0;
    padding: 0 1em;
  }

  img {
    width: 100%;
    margin: 1em 0;

    border-radius: theme.$roundness;
  }

  code {
    font-size: 0.75em;
  }

  .footnotes {
    margin: 2em 0;
  }
}
