---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import { Markdown } from "astro/components";

import "../styles/global.scss";
import "../styles/typography.scss";

const posts = await Astro.fetchContent("./**/*.md");
posts.sort((a, b) => new Date(b.published).valueOf() - new Date(a.published).valueOf());
---

<html>
    <head>
        <BaseHead title="Max Niederman | 404 Not Found" description="HTTP 404 error page." />
    </head>
    
    <body>
        <div class="nav-container"><Nav /></div>

        <main class="typography-full">
            <Markdown>
                # 404 Not Found

                Looks like you're lost.

                [Take me back home.](/)
            </Markdown>
        </main>
    </body>
</html>

<style lang="scss">
    @use "../styles/theme";

    main {
        max-width: 75ch;
        margin: auto;
        padding: 0 32px;

        h1 {
            font-size: 4em;
            padding: 0 16px;
        }
    }
</style>