---
import "~/styles/global.scss";

import BaseLayout from "~/layouts/BaseLayout.astro";
import CliffordAttractor from "~/components/CliffordAttractor.svelte";

import signature from "~/images/signature.svg";
---

<BaseLayout title="Max Niederman">
	<div class="hero">
		<div class="hero-bg">
			<CliffordAttractor client:load />
		</div>

		<div class="hero-content">
			<h1>
				<img src={signature.src} alt="Max Niederman" />
				 <!-- Max Niederman -->
			</h1>
			<p>Student. Mathematician. Programmer. Engineer.</p>
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.hero {
		width: 100svw;
		height: 100svh;

		padding: 2rem;

		@media screen and (min-width: 768px) {
			padding: 4rem;
		}
	}

	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: -1;
	}

	.hero-content {
		max-width: 500px;

		font-size: 1.25rem;

		color: white;
		mix-blend-mode: exclusion;
	}

	h1 {
		margin: 0;

		font-size: 3.75rem;

		img {
			width: 100%;
		}
	}
</style>
