---
import { Icon } from "astro-icon/components";

import "~/styles/global.scss";

import BaseLayout from "~/layouts/BaseLayout.astro";
import StripeGradient from "~/components/StripeGradient.svelte";
import ScrapeObfuscatedLink from "~/components/ScrapeObfuscatedLink.svelte";

import favicon from "~/images/favicon.svg";
---

<BaseLayout title="Max Niederman">
	<header>
		<h1>Max Niederman</h1>
	</header>

	<main>
		<p>
			I am an undergraduate student at Reed College interested in mathematics and computing.
		</p>

		<p>
			You can find me on <a href="https://github.com/max-niederman">GitHub</a> or <a href="https://www.linkedin.com/in/max-niederman/">LinkedIn</a>,
			and reach me <ScrapeObfuscatedLink hrefBase64={btoa("mailto:max@maxniederman.com")}>via email</ScrapeObfuscatedLink> or <a href="https://discord.com/users/311324287086624768">on Discord</a>.
		</p>
	</main>
</BaseLayout>

<style lang="scss">
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100svw;
		height: 100svh;
	}

	main,
	header {
		margin-left: auto;
		margin-right: auto;
		max-width: 75ch;
	}

	header {
		margin-top: 2rem;

		display: flex;
		align-items: center;
		justify-content: space-between;
		
		img {
			height: 3em;
		}
	}
</style>
