---
import Markdown from "@astrojs/markdown-component";
import Analytics from "$/components/Analytics.astro";

import "$/styles/global.scss";
import "@fontsource/source-serif-4";
import "@fontsource/source-serif-4/400-italic.css";
import "@fontsource/source-serif-4/800.css";
import "@fontsource/source-serif-4/600-italic.css";

const pages = (await Astro.glob("/src/pages/**/*.mdx")).filter(({ frontmatter }) => frontmatter.index ?? true);
pages.sort((a, b) => new Date(b.frontmatter.published).valueOf() - new Date(a.frontmatter.published).valueOf());
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="/favicon.svg" />
	<title>Max Niederman</title>

	<Analytics />
</head>

<body>
	<div class="masthead">
		<h1>
			Max
			<br />
			Niederman
		</h1>

		<div id="tldr">
			<h2>TL;DR</h2>
			<p>I am a high-school student with a passion for programming. I'm trying to improve as a writer.</p>
			<div class="links">
				<a href="#writing">Writing</a>
				<a href="https://github.com/max-niederman">GitHub</a>
			</div>
		</div>

		<div class="scroll links">
			<a href="#writing">Scroll ↓</a>
		</div>
	</div>

	<div class="main-type">
		<div id="writing">
			<h2>Writing</h2>

			<ul>
				{pages.slice(0, 5).map(({ frontmatter, url }) => (
				<li>
					<time>{frontmatter.published}</time>
					<a href={url}>
						<Markdown>{frontmatter.title}</Markdown>
					</a>
				</li>
				))}
			</ul>

			<a href="/posts" class="links">More</a>
		</div>
	</div>
</body>

</html>

<style lang="scss">
	@use "../styles/breakpoint";
	@use "../styles/type" with ($gutter: 8px);

	html body {
		padding: 0;

		@include breakpoint.query(breakpoint.$phone) {
			padding: 24px;
		}
	}

	.main-type {
		max-width: 500px;
		margin: auto;
		padding: 100px 0;

		@include type.basic;
		@include type.structural;

		div {
			margin-top: 100px;
		}
	}

	.masthead {
		@mixin dims-and-padding($padding) {
			height: calc(100vh - 2 * $padding);
			padding: $padding;
		}

		@include dims-and-padding(100px);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		h1 {
			font-size: 128px;
			font-weight: 600;
			font-style: italic;
		}

		#tldr {
			align-self: flex-end;
			max-width: 350px;

			font-size: 24px;

			h2 {
				font-size: 40px;
				font-style: italic;
				text-transform: lowercase;

				margin-bottom: 10px;
			}

			p {
				margin-bottom: 6px;
			}
		}

		.scroll {
			position: absolute;
			bottom: 50px;
			left: 50px;
		}

		@include breakpoint.query(breakpoint.$tablet) {
			@include dims-and-padding(64px);

			h1 {
				font-size: 96px;
			}
		}

		@include breakpoint.query(breakpoint.$phone) {
			@include dims-and-padding(24px);
			padding: 0; // handled by the body padding

			align-items: stretch;

			h1 {
				font-size: 64px;

				padding-bottom: 12px;
				border-bottom: 2px solid var(--color-border);
			}

			#tldr {
				max-width: unset;
				flex-grow: 1;

				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}

			.scroll {
				position: static;
				margin-top: 48px;

				text-align: right;
			}
		}
	}

	#writing {
		li {
			margin-bottom: 24px;

			time {
				display: block;
				font-style: italic;
			}

			a {
				font-size: 1.25em;
				font-weight: 800;
				text-decoration: dotted underline;
			}
		}
	}

	.links {
		font-size: 24px;
		font-variant: all-small-caps;
		font-weight: bold;
		text-decoration: dotted underline;

		display: flex;
		flex-direction: row;

		* {
			margin-right: 12px;
		}
	}
</style>