---
import "~/styles/global.scss";

import BaseLayout from "~/layouts/BaseLayout.astro";

import signature from "~/images/signature.svg";
---

<BaseLayout title="Max Niederman">
		<div class="hero">
			<div class="hero-content">
				<h1>
					<img src={signature.src} alt="Max Niederman" />
				</h1>
				<p>Student. Mathematician. Programmer. Engineer.</p>
			</div>
		</div>
</BaseLayout>

<style lang="scss">
	.hero {
		width: 100svw;
		height: 100svh;

		padding: 2rem;

		@media screen and (min-width: 768px) {
			padding: 4rem;
		}
	}

	.hero-content {
		max-width: 500px;

		font-size: 1.25rem;
	}

	h1 {
		margin: 0;

		font-size: 3.75rem;

		img {
			width: 100%;
		}
	}

</style>