---
import "~/styles/global.scss";

import BaseLayout from "~/layouts/BaseLayout.astro";
import OrbitingRings from "~/components/OrbitingRings.svelte";
---

<BaseLayout title="Max Niederman">
	<div class="hero">
		<div class="hero-bg">
			<OrbitingRings
				minRadius={300}
				arcWidth={30}
				arcSpacing={60}
				client:load
			/>
		</div>

		<h1>Max Niederman</h1>
	</div>
</BaseLayout>

<style lang="scss">
	.hero {
		width: 100svw;
		height: 100svh;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 2rem;

		@media screen and (min-width: 768px) {
			padding: 4rem;
		}
	}

	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: -1;
	}

	h1 {
		margin: 0;
		max-width: 400px;
		text-align: center;

		font-size: 3rem;

		@media screen and (min-width: 768px) {
			font-size: 4rem;
		}
	}
</style>
