---
import { Markdown } from "astro/components";
import BaseHead from "../components/BaseHead.astro";
import "../styles/typography.scss";
---

<html lang="en">
    <head>
        <BaseHead title="Max Niederman" description="The personal website of Max Niederman." />
    </head>

    <body>
        <Markdown>
            # Max Niederman

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor ducimus quas molestiae eum neque laborum tempora veritatis sequi enim, adipisci, sapiente accusamus fuga est, facilis id perferendis ad rerum voluptates.
        </Markdown>
    </body>
</html>