---
import { Icon } from "astro-icon/components";

import "~/styles/global.scss";

import BaseLayout from "~/layouts/BaseLayout.astro";
import StripeGradient from "~/components/StripeGradient.svelte";
import ScrapeObfuscatedLink from "~/components/ScrapeObfuscatedLink.svelte";

import favicon from "~/images/favicon.svg";
---

<BaseLayout title="Max Niederman">
	<div class="bg">
		<StripeGradient client:load />
	</div>

	<header>
		<div class="title-line">
			<img src={favicon.src} alt="Max Niederman's logo" />
			<h1>Max Niederman</h1>
		</div>
		<p>
			I am an undergraduate student at Reed College interested in mathematics, software, and
			engineering.
		</p>
		<ul>
			<li>
				<a href="https://github.com/max-niederman" target="_blank">
					<Icon name="mdi:github" size="2rem" title="GitHub" />
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/max-niederman/" target="_blank">
					<Icon name="mdi:linkedin" size="2rem" title="LinkedIn" />
				</a>
			</li>
			<li>
				<a href="https://discord.com/users/311324287086624768" target="_blank">
					<Icon name="ic:baseline-discord" size="2rem" title="LinkedIn" />
				</a>
			</li>
			<li>
				<ScrapeObfuscatedLink
					hrefBase64={btoa("mailto://max@maxniederman.com")}
					target="_blank"
					client:idle
				>
					<Icon name="mdi:email-fast-outline" size="2rem" title="LinkedIn" />
				</ScrapeObfuscatedLink>
			</li>
		</ul>
	</header>

	<main>
		<div class="glass under-construction">This site is under construction.</div>
	</main>
</BaseLayout>

<style lang="scss">
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100svw;
		height: 100svh;
	}

	main,
	header {
		margin-left: auto;
		margin-right: auto;
		max-width: 75ch;

		padding: 0 1rem;
	}

	header {
		margin-top: 2rem;
		margin-bottom: 2rem;

		color: hsl(0deg 0% 60%);
		mix-blend-mode: color-dodge;

		.title-line {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		img {
			filter: invert(60%);
		}

		h1 {
			margin: 1rem 0;
			font-weight: 700;
		}

		p {
			margin-top: 0.5rem;
		}

		ul {
			padding: 0;

			display: flex;
			gap: 0.5rem;

			li {
				display: block;
				list-style: none;
			}

			:global(a, a:visited) {
				color: inherit;
			}
		}
	}

	main {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
		gap: 2rem;

		color: white;

		.under-construction {
			grid-column: 1 / -1;

			display: flex;
			align-items: center;
			justify-content: center;

			font-size: 2rem;
			text-align: center;
		}

		.glass {
			background: hsla(0deg, 10%, 75%, 0.2);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			border: 1px solid hsla(0deg, 0%, 100%, 0.3);
		}
	}
</style>
