---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import ScrapeObfuscatedLink from "~/components/ScrapeObfuscatedLink.svelte";
import PageLayout from "~/layouts/PageLayout.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => a.data.published.getTime() - b.data.published.getTime());
posts.reverse();
---

<PageLayout title="Max Niederman">
	<header class="type">
		<h1>Max Niederman</h1>
	</header>

	<main class="type">
		<p>
			Hello! I’m Max, an eighteen-year-old software engineer. This is my
			personal website, where I write about things I find interesting and share
			projects I’m working on.
		</p>

		<p>
			I am currently searching for my next job and working on some independent
			projects. Previously, I was Chief Scientific Officer at <a
				href="https://bindwell.com">Bindwell</a
			>
			(YC <span class="lining-nums">W25</span>), and studied math at <a
				href="https://reed.edu">Reed College</a
			>.
		</p>

		<p>
			I’ve pledged to donate at least 10% of my lifetime income to effective
			charities. <a href="https://www.givingwhatwecan.org/pledge"
				>You should too.</a
			>
		</p>

		<ul class="links-row">
			<li>
				<a href="https://github.com/max-niederman" data-link-type="github"
					>GitHub</a
				>
			</li>
			<li>
				<a
					href="https://www.linkedin.com/in/max-niederman/"
					data-link-type="linkedin">LinkedIn</a
				>
			</li>
			<li>
				<ScrapeObfuscatedLink
					hrefBase64={btoa("mailto:max@maxniederman.com")}
					linkType="email"
					client:load
				>
					Email</ScrapeObfuscatedLink
				>
			</li>
			<li>
				<a
					href="https://discord.com/users/311324287086624768"
					data-link-type="discord">Discord</a
				>
			</li>
		</ul>

		<h2 id="writing">Writing</h2>

		<ul class="post-links">
			{
				posts.map((post) => (
					<li>
						<a href={post.slug} data-link-type="internal">
							{post.data.title}
						</a>{" "}
						— {format(post.data.published, "PPP")}
					</li>
				))
			}
		</ul>
	</main>
</PageLayout>

<style lang="scss">
	@use "~/styles/links.scss";
	@use "~/styles/type.scss";

	h1 {
		font-size: 2.5rem;
		font-style: italic;
		font-weight: 450;
		font-feature-settings: "swsh", "calt";
	}

	.links-row,
	.post-links {
		list-style: none;
		padding: 0;
	}

	.links-row {
		display: flex;
		flex-wrap: wrap;
		gap: 1ch;
	}
</style>
