---
import BaseHead from "../components/BaseHead.astro";
import Showcase from "../components/showcase/Showcase.svelte";

import "../styles/global.scss";
---

<html>
    <head>
      <BaseHead title="Max Niederman" description="" />
      <link rel="stylesheet" href="/styles/tailwind.css" />
    </head>
    <body>
        <Showcase client:load />
    </body>
</html>
