@use "theme";

:root {
  @include theme.light;
  @media screen and (prefers-color-scheme: dark) {
    @include theme.dark;
  }
}

body {
  margin: 0;

  background-color: var(--color-bg);
  color: var(--color-fg);
}
