<nav>
    <a href="/" class="logo">
        <div class="monogram">MN</div>
    </a>

    <a href="/posts">Posts</a>
</nav>

<style lang="scss">
    @use "../styles/theme";

    nav {
        position: absolute;
        top: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 8px 16px;

        font-family: theme.$font-serif;

        a, a:visited, a:hover {
            margin-right: 16px;
            color: theme.$color-accent;
            text-decoration: none;
            font-size: 1.5rem;
        }

        .monogram {
            font-size: 1.25em;
            font-family: theme.$font-serif;
            font-weight: 900;
            letter-spacing: -0.125rem;
        }
    }
</style>