---
import Logo from "./Logo.astro";
---

<nav class="main-nav">
    <a href="/">
        <Logo width="64px" />
    </a>
    <hr />

    <a href="/posts">Posts</a>
</nav>

<style lang="scss">
    @use "../styles/breakpoint";
    @use "../styles/type";

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;

        padding: 24px;

        display: flex;
        flex-direction: column;

        @include type.basic;
        @include type.links;
        font-variant: small-caps;

        hr {
            width: 100%;
        }

        a:hover {
            color: var(--color)
        }
        
        @include breakpoint.query(breakpoint.$tablet) {
            position: static;
            flex-direction: row;
            align-items: center;
            padding: 0;

            * {
                margin-right: 24px;
            }

            hr {
                display: none;
            }
        }
    }
</style>