---
export interface Frontmatter {
  title: string;
  description: string;
  published: Date;
  updated: Date;
  status: string;
  tags: string[];
}

export interface Props {
  content: Frontmatter;
}

const {
  title,
  description,
  published,
  updated,
  status,
  tags = [],
} = Astro.props.content;
---

<style lang="scss">
  @use "../../public/styles/typography";

  header {
    font-size: 0.90em;
    font-family: typography.$font-serif;
    font-style: italic;
  }

  p {
    margin: 0.5em 0;
  }

  h1 {
    margin: 0;
    margin-bottom: 16px;

    text-align: center;
    font-variant: small-caps;
    text-align: center;
    font-size: 2.75em;
    hyphens: auto;
  }

  .tags {
    a {
      margin: 0 0.25em;
      color: inherit;
    }
  }

  .other {

  }
</style>

<header>
  <h1>{title}</h1>

  <p>{description}</p>

  <div class="tags">
    {tags.slice(0, -1).map((tag) => 
      <a href={`/tags/${tag}`}>{tag},</a>
    )}
    <a href={`/tags/${tags.slice(-1)}`}>{tags.slice(-1)}</a>
  </div>

  <div class="other">
  </div>
</header>
