@use "theme";

// Fonts
@use "@fontsource/eb-garamond/scss/mixins" as EBGaramond;
@use "@fontsource/fira-code/scss/mixins" as FiraCode;

@include EBGaramond.fontFaceVariable(
  $fontDir: "/fonts/@fontsource/eb-garamond/files",
  $type: "wghtOnly"
);

@include FiraCode.fontFaceVariable(
  $fontDir: "/fonts/@fontsource/fira-code/files",
  $type: "wghtOnly"
);

:root {
  @include theme.light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme.dark;
  }
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;

  background: var(--bg);
  color: var(--fg);
}
