@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-mode-ho-tb {
    writing-mode: horizontal-tb;
  }
  .writing-mode-ve-rl {
    writing-mode: vertical-rl;
  }
  .writing-mode-ve-lr {
    writing-mode: vertical-lr;
  }
}
