$font-serif: "EB GaramondVariable", ui-serif, Georgia, Cambria,
  "Times New Roman", Times, serif;
$font-mono: "Fira CodeVariable", ui-monospace, SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;

// Constants
$gutter: 0.25em;
$roundness: 0.25em;

.typography {
  font-size: 1.35rem;
  font-family: $font-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant: small-caps;
    margin-left: -$gutter;
    margin-right: -$gutter;
  }

  h1 {
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid var(--fg);
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px dotted var(--fg);
  }

  a {
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover {
      opacity: 80%;
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
    }
  }

  blockquote {
    border-left: 1px solid var(--fg);
    margin: 1em 0;
    padding: 0 1em;
  }


  code {
    font-size: 1rem;
    font-family: $font-mono !important; // Must be !important because Prism themes try to set the font as well.
  }

  img {
    width: 100%;
    margin: 1em 0;

    border-radius: $roundness;
  }

  .footnotes {
    margin: 2em 0;
  }

  // Prism theme overrides

  pre[class*="language-"] {
    border-radius: $roundness !important;
  }
}
