---
import BaseHead from "$/components/BaseHead.astro";
import Nav from "$/components/Nav.astro";
import Header from "$/components/PostHeader.astro";

const { content } = Astro.props;
const { header = true, language = "en", title, description } = content;
---

<html lang={language}>
  <head>
    <BaseHead title={title ?? "Max Niederman"} description={description ?? ""} />

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/typography.css">
    <link rel="stylesheet" href="/styles/code.css">
  </head>
  <body>
    <Nav />

    <main>
      {header &&
        <header>
          <Header content={content} />
        </header>
      }

      <article class="typography">
        <slot />
      </article>
    </main>
  </body>
</html>

<style lang="scss">
  body {
    overflow-x: hidden;
  }

  main {
    margin: auto;
    padding: 0 24px;

    font-size: 1.35rem;
    max-width: 70ch;

    header {
      border-bottom: none;
    }

    article {
      margin: 2em 0;
    }
  }
</style>
