---
import BaseLayout from "./BaseLayout.astro";

import "~/styles/type.scss";
import "~/styles/links.scss";

import "katex/dist/katex.min.css";

import "@fontsource-variable/fira-code";

export interface Props {
    title: string;
}
const { title } = Astro.props;
---

<BaseLayout {title}>
    <header class="type">
        <h1>{title}</h1>
    </header>

    <main class="type">
        <slot />
    </main>
</BaseLayout>

<style is:global lang="scss">
    body {
        margin: 0 auto;
        padding: 0 2ch;
        max-width: 80ch;
    }
</style>