---
import Nav from "$/components/Nav.astro";
import Analytics from "$/components/Analytics.astro";
import "$/styles/global.scss";
import "@fontsource/source-serif-4";
import "@fontsource/source-serif-4/400-italic.css";
import "@fontsource/source-serif-4/800.css";
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="/favicon.svg" />
	<slot name="head" />

	<Analytics />
</head>

<body>
	<Nav />

	<main class="dropcap">
		<slot />
	</main>
</body>

</html>

<style is:global lang="scss">
	@use "../styles/type" with ($gutter: 8px);


	html body {
		padding: 24px;
	}

	main {
		margin: auto;
		max-width: 65ch;

		@include type.basic;
		@include type.structural;
		@include type.links;

		header {
			margin-bottom: 1.5em;

			h1 {
				text-align: center;
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
</style>