<div class="diagram">
    <div class="viewport">
        <p class="title">Interesting Title</p>
        <p>
            This is the body of the text.
            It goes on and on and on...
            until finally it is long enough to
            fill up enough space to
            properly make the point.
            Actual intelligible English
            may not be sufficient, though.
            At times, designers have even
            resorted to Latin-based gibberish
            to fool the eye.
            When you read
            the words "lorem ipsum dolor,"
            know that you have been had.
        </p>
        <figure>
            <div class="figcontent"></div>
            <figcaption>A figure which extends past the viewport.</figcaption>
        </figure>
        <p>
            More body text.
            The body text never ends. 
            It just keep <em>going</em>.
            ON AND ON AND
        </p>
    </div>
</div>

<style lang="scss">
    @use "sass:math";

    $padding: 8px;
    $overflow: 40px;

    .diagram {
        max-width: 300px;
        margin: auto;
    }

    .viewport {
        width: calc(100% - $overflow);

        overflow-x: visible;
        border-radius: 8px;
        background: var(--color-fg);
        color: var(--color-bg);

        font-size: 0.7em;
        padding: $padding;
    }

    .title {
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        font-variant: small-caps;
    }

    .figcontent {
        width: calc(100% + $padding + $overflow);
        height: 100px;
        background: repeating-linear-gradient(45deg,
                #aaaaaa,
                #aaaaaa 10px,
                #444444 10px,
                #444444 20px);
        border-radius: 4px;
    }
</style>